import firebase from 'firebase/app';
import 'firebase/firebase-firestore';

const config = {
  apiKey: API_KEY,
  authDomain: AUTH_DOMAIN,
  databaseURL: DATABASE_URL,
  projectId: PROJECT_ID,
  storageBucket: '',
  messagingSenderId: SENDER_ID,
};

if (!firebase.apps.length){
  firebase.initializeApp(config);
  firebase.firestore().settings({
    timestampsInSnapshots: true
  })
}

export default firebase;