:root{
	--def-color: #0d80a3;
}

#header_section{
	pointer-events: none;
}

.github_image{
	margin-top: -5px;
}

.arlo_tm_portfolio_list li img {
    object-fit: cover;
    height: 300px;
}

.arlo_tm_portfolio_titles{
	border-radius: 4px;
	border-bottom-left-radius: 0px;
}

.work__cat{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-radius: 4px;
}

.contact-button{
	text-decoration: none;
	color: #fff;
	background-color: var(--def-color);
	font-weight: 600;
	font-family: "Montserrat";
	padding: 12px 35px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	border: none;
	cursor: pointer;
}

.contact-button::before{
	position: absolute;
	content: "";
	top: 0px;
	height: 100%;
	left: -25%;
	width: 0%;
	background-color: #041230;
	transform: skew(50deg);
	transition-duration: .6s;
	z-index: 1;
}

.contact-button:hover::before{
	width: 180%;
}

.contact-button span{
	position: relative;
	z-index: 2;
}

.arlo_tm_universal_box_wrap.particle{
	background-image: url('/assets/img/bgimg.jpg');
}

.entry:hover .project_title:not(:hover){
	opacity: 1;
	visibility: visible;
}

.project_title {
	white-space: nowrap;
	background: rgba(241, 241, 241, 0.664);
	font-size: 20px;
	font-weight: 700;
	padding: 5px 15px;
	color: rgba(0,0,0,0.8);
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: ease-in .1s;
}

.project_title:hover{
	opacity: 1;
	visibility: visible;
}

@media only screen and (max-width: 1500px) {
	.arlo_tm_portfolio_list > li{
		width: 45.6666%;
	}
}

/* COLOR DEFINITIONS */

.arlo_tm_totop{
	background-color: var(--def-color);
}

.arlo_tm_portfolio_filter li a.current{
	color: var(--def-color);
}

.arlo_tm_leftpart_wrap .arlo_tm_resize{
	background-color: var(--def-color);
}

.arlo_tm_title_holder::before{
	background-color: var(--def-color);
}

.arlo_tm_services_wrap .list_wrap ul li .icon .svg{
	color: var(--def-color);
}

.arlo_tm_about_wrap .buttons_wrap ul li a{
	background-color: var(--def-color);
}

.arlo_tm_about_wrap .definition p strong{
	color: var(--def-color);
}

.arlo_tm_hero_header_wrap .name_holder h3 span{
	color: var(--def-color);
}

.arlo_tm_contact_wrap .arlo_tm_button a{
	background-color: var(--def-color);
}

.arlo_tm_about_wrap .about_short_contact_wrap ul li a:hover{
	color: var(--def-color);
}

.arlo_tm_leftpart_wrap .menu_list_wrap ul li a:hover{
	color: var(--def-color);
}

.arlo_tm_leftpart_wrap .menu_list_wrap ul li a::before{
	background-color: var(--def-color);
}

.arlo_tm_leftpart_wrap .leftpart_bottom .social_wrap ul li a:hover{
	color: var(--def-color);
}

.arlo_tm_bar{
	background-color: var(--def-color) !important;
}